.Intro {
  position: relative;
  width: 100%;
}

.image-container {
  position: relative;
}

.introLandingPageImage {
  width: 100%;
  display: block;
}

.TitleLandingPageIntro {
  font-size: 70px;
  position: absolute;
  top: 70px;
  left: 190px;
  padding: 20px;
  color: white;
}

.SubTitleLandingPageIntro {
  max-width: 700px; 
  text-align: center;
  font-size: 25px;
  position: absolute;
  top: 170px;
  left: 80px;
  padding: 10px;
  color: white;
}
.WhiskiesInfo {
  display: block;
  justify-content: center;
  align-items: center;
}

.WhiskiesBG {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;
  height: 380px;
  position: relative; 
}
.jackDanielsImg {
  opacity: 90%;
  height: 280px;
  transition: transform 0.5s ease;
}
.jackDanielsImg:hover {
  opacity: 100%;
  transform: scale(1.1);
  transition: transform 0.5s ease;
}
.DescJackDaniels {
  color: white;
  text-align: justify;
  max-width: 800px; 
  font-size: 30px;
  margin-left: 45px; 
}
.RedLabelImg {
  opacity: 90%;
  transition: transform 0.5s ease;
  padding-left: 10px;
  height: 280px;
  width: 93.33px;
}
.RedLabelImg:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
  opacity: 100%;
}
.DescRedLabel {
  text-align: justify;
  color: white;
  max-width: 800px; 
  font-size: 30px;
  margin-left: 45px; 
}
.WoodfordReserveImg {
  opacity: 90%;
  transition: transform 0.5s ease;
  padding-left: 20px;
  height: 240px;
}
.WoodfordReserveImg:hover {
  opacity: 100%;
  transform: scale(1.1);
  transition: transform 0.5s ease;
}
.DescWoodfordReserve {
  color: white;
  text-align: justify;
  font-size: 30px;
  max-width: 800px; 
  margin-left: 45px; 
}

.OldParrImg {
  opacity: 90%;
  padding-left: 25px;
  transition: transform 0.5s ease;
  height: 280px;
}
.OldParrImg:hover {
  opacity: 100%;
  transform: scale(1.1);
  transition: transform 0.5s ease;
}
.DescOldParr {
  margin-left: 45px;
  text-align: justify;
  color: white;
  font-size: 30px;
  max-width: 800px; 
}
.image-container {
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}
