body {
  margin: 0;
  background-color: #fafafa;
}

body.dark {
  background-color: #242424;
  color: #fff;
}

html, body {
  height: 100%;
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  background: #fafafa;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-left: 10px;
  width: 110px;
  cursor: pointer;
}

ul {
  flex: 1; /* Ocupar o espaço disponível no centro */
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center; /* Centralizar os itens */
}

li a {
  text-decoration: none;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Searchbox {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid #000000;
  margin-right: 20px;
  height: 10px;
}

.Searchbox input {
  padding: 6px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  max-width: 200px;
}

.Searchbox input::placeholder {
  color: #000000;
  font-size: 15px;
}

.Searchbox img {
  width: 20px;
  cursor: pointer;
}

.toggleTheme {
  width: 40px;
  cursor: pointer;
  margin-right: 10px;
}


.dark .header {
  background-color: #242424;
  color: #fff;
}

.dark .Searchbox {
  background-color: #fff;
}

.dark .Searchbox input {
  color: #242424;
}

.dark .Searchbox input::placeholder {
  color: #242424;
}

.dark .menu li a {
  color: #fff;
}

.dark .body {
  background-color: #242424;
  color: #fff;
}
